<div class="row">
  <div class="col m8 offset-m2">
    <form ng-submit="yelpSubmit()">
      <input type="text" placeholder="term" ng-model="yelp.term" value="">
      <input type="text" placeholder="location" ng-model="yelp.location" value="">
      <!-- <button type="submit" name="button">submit</button> -->
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
      <br>
      {{ yelp }}
    </form>
    <div ng-repeat="restaurant in restaurants">
      {{ yelp.restaurant}}
    </div>
  </div>
</div>
